body {
    font-family: 'Montserrat-bold';
}

/* <!-- --Tittle-- --> */

#title {
    background: #ff4c68;
    color: #ffff;
}
.container-fluid {
    padding: 3% 15% !important;
}
.H {
    font-family: 'Montserrat-bold';
    font-size: 3.5rem;
    line-height: 1.5;
    position: relative;
}
.navbar-brand {
    font-family: "Montserrat-bold";
}
.rotated {
    transform: rotate(20deg);
    width: 60%;
    position: absolute;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}
.download-button {
    margin: 5% 3% 5% 0;
    position: relative;
}

/* <!-- Features --> */

#features {
    padding: 5% 10%;
    background-color: #fff;
    z-index: 1;
    position: relative;
}
.col-sm {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5%;
}
.icon {
    color: #ef8172;
    padding-bottom: 1rem;
}
.icon:hover {
    color: #ff4c68;
}
.para {
    font-family: 'Montserrat-bold';
    color: #8f8f8f;
}

/* <!-- Testimonials --> */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* <!-- Pricing --> */

#pricing {
    text-align: center;
    padding: 100px;
}
.pric {
    padding: 3% 2%;
    /* color: tomato; */
}
.card-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* <!-- Call to Action --> */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: #fff;
}
.cta-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

/* <!-- Footer --> */

#footer {
    text-align: center;
    padding: 7% 15%;
}
.social-icon {
    margin: 20px 10px;
}

/* <!--Media--> */

@media (max-width: 1028px) {
    .rotated {
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
}